*{
    margin: 0;
}
#page1{
    height: 100vh;
    background-image:url(../images/banner/banner3.png);
    background-size: cover;
    
}
#page2{
    height: 100vh;
    background-color: white;
    
    
}
#page3{
    height: 100vh;
    background-color: white;
    
    
}
#page4{
    height: 70vh;
    background-color: black;
    justify-content:space-between ;
    display: table;
    
}
.c1{
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}